*{
	/*outline: 1px solid red;*/
}

div.container{
	width: 1200px;
	height: 600px;
	padding: 5px 30px;
}
	div.activity{
		width: 1165px;
		height: 240px;
		border: 2px solid black;
		overflow-x: hidden;
	}
	h1{
		display: inline-block;
	}
	h1.info_num{
		min-width: 100px;
		height: 35px;
		margin-left: 15px;
		padding-left: 10px;
		border: 2px solid black;
	}
	form.get_gold{
		width: 265px;
		height: 200px;
		margin-top: 20px;
		margin-right: 25px;
		border: 2px solid black;
		display: inline-block;
		vertical-align: top;
		text-align: center;
	}
	p{
		margin: 20px;
		font-size: 1.3em;
	}
	input{
		margin: 20px;
	}
	h5{
		margin: 0px;
	}
	h5.red{
		color: red;
	}
	h5.green{
		color: green;
	}